/* slider */


/* HR animated: start */
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}
.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 50%;
  left: 0;
}
.hr:before {
  background: linear-gradient(90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100%);
  background-size: 15px;
  background-position: center;
  z-index: 1;
}
.hr:after {
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
  background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
          animation: bar 15s linear infinite;
}
@-webkit-keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.hr.anim:before {
  background: linear-gradient(90deg, #10111F 0%, #10111F 5%, transparent 5%, transparent 10%, #10111F 10%, #10111F 15%, transparent 15%, transparent 20%, #10111F 20%, #10111F 25%, transparent 25%, transparent 30%, #10111F 30%, #10111F 35%, transparent 35%, transparent 40%, #10111F 40%, #10111F 45%, transparent 45%, transparent 50%, #10111F 50%, #10111F 55%, transparent 55%, transparent 60%, #10111F 60%, #10111F 65%, transparent 65%, transparent 70%, #10111F 70%, #10111F 75%, transparent 75%, transparent 80%, #10111F 80%, #10111F 85%, transparent 85%, transparent 90%, #10111F 90%, #10111F 95%, transparent 95%, transparent 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
          animation: bar 120s linear infinite;
}
.hr.anim:hover:before {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.hr.anim:hover:after {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
/* HR animation end */


body {
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 17px;
}

#navbar {
  padding: 40px 30px;
  background-color: #2993cd;
  color: #000;
}


.logo{text-align: center;}
.logo img {width: 200px;}

#main-doc {
  margin: 40px 30px;
}

header {
  font-size: 28px;
  font-family: Oswald;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  text-decoration: underline;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar li {
  border-bottom: 1px solid #555;
  padding: 15px;
}

section {
  max-width: 900px;
  margin-bottom: 50px;
}

code {
  background-color: rgb(241, 241, 241);
  padding: 0px;
  font-size: 0.88em !important;
  margin: 0px;
  border-radius: 5px;
  display: block;
  white-space: pre-wrap;
}

@media (min-width: 900px) {
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 100%;
  }

  #navbar ul {
    /* height: 75%; */
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-doc {
    margin: 40px 60px 0px 400px;
  }
}

.use-case {color:#08bb2ff3;font-weight: 700;}

.blink {
  animation: blink 2s linear infinite;
}

@keyframes blink { 50% {opacity: 0;} }


/* Handcrafted */

.typing {
  position: relative;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #c5fa08;
  float: right;
}